<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="shortcut icon" th:href="@{/imagem/favicon-32x32.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/sobre.css}">
    <link rel="stylesheet" th:href="@{/css/UsuarioFav.css}">
    <title>Sobre</title>
</head>

<body >
<nav th:replace="~{menu::menu}" >
</nav>
<br>
<div class="container">
    <br>

    <div class="container">
    <h1 class="titulos">SOBRE NÓS</h1>
    <img src="Imagem/bonecos.png" alt="Equipe" class="imgbonecos">
    <p class="texto2">
        Somos uma plataforma de busca de cursos gratuitos em Diadema, com o objetivo de tornar o acesso à educação mais acessível para todos, sem que isso gere custos financeiro. 
    </p>
    <p class="texto2">
        Oferecemos uma ampla variedade de cursos em diversas áreas de conhecimento, selecionados cuidadosamente para atender às demandas do público de nossa cidade. Todos os cursos disponíveis em nossa plataforma são gratuitos e de alta qualidade, oferecidos pelas melhores instituições de ensino da região. Nosso processo de busca é simples e eficiente, permitindo que os usuários encontrem facilmente os cursos que atendem suas necessidades e interesses. Além disso, estamos sempre em buscando novas parcerias para ampliar ainda mais a oferta de conhecimento em nossa plataforma.
    </p>
    <p class="texto2">
        Acreditamos que a educação é um direito de todos e uma ferramenta essencial para o desenvolvimento pessoal, social e profissional. Portanto, nos empenhados para contribuir com a formação de uma sociedade mais educada e consciente de seu potencial transformador.
    </p>
    </div>

    <br>
    <h1 class="missao">NOSSA MISSÃO, VISÃO E VALORES</h1> 
    <br>
    <br>
    <img src="Imagem/mvvcanva.png" alt="Equipe" class="imgmvv">
    <br>
    <br>
</div>
<hr>
</div>
    <div class="container">
        <img src="Imagem/equipe.png" alt="Equipe" class="imgconfig">
        <h1 class="titulos">EQUIPE</h1>
        <p>
        Nossa equipe é formada por sete(7) desenvolvedores sendo, duas(2) mulheres e cinco(5) homens, todos estudantes de Desenvolvimento de Software Multiplaformas na Faculdade de Tecnologia Fatec Diadema-Luigi Papaiz.
        </p>
        <p>
        Está plataforma foi planejada através de um Projeto Integrador durante o 3º semestre de curso, em maio de 2023.
        </p>
    </div>

</div>
<hr>
</div>

<footer  th:replace="~{rodape::rodape}">
</footer>>
</body>
</html>